CS-303_Project_Groups_proc.csv
CS-303_Project_Groups_v1_1.csv
CS-303_Project_Groups.csv
generators.py
problematic.txt
problematic_responder.txt
groups.csv
cs303prj/
processor.py
processor1_1.py
processor1_2.py
processor1_4.py
processor1_6.py
rules.md
We have a .md